thead{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
    text-align: left;
    border-bottom: 1px solid #D3D3D3;
}
tbody tr{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
    text-align: left;
   
    margin-top: 20px;
    height: 50px;
    border-bottom: 1px solid #D3D3D3;
}


.headings{

}